.footer{
 background-color: $secundary-color;
 color: $text-color;
 width: 100%;
 padding-top: 10px;
 padding-bottom: 5px;
 text-align: center;
}
.fb-footer{
  width: 30px;
  vertical-align: bottom;
}
