.converter-content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
}

.converter-title {
  width: 80%;
  margin: auto;
  background-color: $text-color;
  color: $secundary-color;
  text-align: center;
  font-weight: bold;
}

.converter-form {
  text-align: center;
  background-color: $secundary-color;
  padding-top: 15px;
  padding-bottom: 15px;
}

.converter-input {
  width: 80%;
  height: 40px;
  margin-bottom: 20px;
  padding-left: 10px;
  border: none;
  background-color: #605f5f;
  color: $text-color;
  font-weight: bold;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $text-color;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: $text-color;
   opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: $text-color;
   opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: $text-color;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: $text-color;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.converter-button {
  height: 40px;
  width: 80%;
  border: 4px solid $text-color;
  background-color: $secundary-color;
  color: orange;
  font-size: 1.2rem;
}

.converter-button:hover {
  background-color: $text-color;
  border: none;
  color: white;
  transition: border linear 0.5s, background-color linear 0.5s, color linear 0.5s;
}

.converter-result {
  text-align: center;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

.alarm {
  border: 2px solid red;
}


@media (min-width: 768px){
  .converter-content {
    width: 60%;
  }

  .converter-title {
    font-size: 2rem;
  }

  .converter-input:first-child {
    margin-top: 30px;
  }
}
