.logoDiv{
  width: 20%;
}
.logo-lsf{
  width: 100%;
}
.icono-fb{
  width: 100%;
}
.link-nav{
  width: 10%;
  text-decoration: none;
  color: #f29400;
}

@media (min-width: 768px){

  .logoDiv{
    width: 10%;
  }
}
