$bg-span : #0a0a0a;
$text-color : #f29400;
$padding-container : 50px 80px;
$border-color : #f7f7f7;
$bg-img : 400px;
$who-bg-color: #FFFFFF;
$what-bg-color: #a5e288;
$help-bg-color: #87ef56;
$calc-bg-color: #5bf314;
$min-size-mobile : 768px;
