$bg-span : #0a0a0a;
$text-color : #f29400;
$padding-container : 50px 50px;
$border-color : #f7f7f7;
$bg-img : 400px;
$sections-bg-color: #f3f9f8;
$min-size-mobile : 768px;
$secundary-color : #4D4D4D;
$tertiary-color: #999999;
