* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body, html {
  height: 100%;
  margin: 0;
  font-family: "Signika Negative", sans-serif;
  font-size: 18px; }

.title {
  font-family: "Artifika", serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4px; }

@media (min-device-width: 768px) {
  .title {
    font-size: 32px; } }
.navButton {
  width: 40px;
  height: 35px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px; }

.navButton span {
  display: block;
  position: absolute;
  height: 16.5%;
  width: 100%;
  background: #f29400;
  border-radius: 16.5%;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

.navButton span:nth-child(1) {
  top: 0; }

.navButton span:nth-child(2) {
  top: 41.75%; }

.navButton span:nth-child(3) {
  bottom: 0; }

.navButton.open span:nth-child(1) {
  top: 33%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg); }

.navButton.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

.navButton.open span:nth-child(3) {
  bottom: 33%;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg); }

@media (min-width: 768px) {
  .navButton {
    display: none; } }
.nav-desktop {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  list-style-type: none; }

.nav-mobile-items {
  display: none;
  list-style-type: none; }

.nav-small-item {
  padding: 5px;
  border-bottom: 2px solid #f29400; }

.nav-small-item:last-child {
  border-bottom: none; }

.list-show {
  display: block;
  position: fixed;
  right: 0px;
  background-color: #4D4D4D;
  z-index: 50;
  margin: 0;
  color: #f29400;
  width: 100%;
  -webkit-animation: fall-down 1s;
          animation: fall-down 1s; }

@-webkit-keyframes fall-down {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes fall-down {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
.nav {
  width: 100%; }

.link-nav {
  width: 100%;
  text-decoration: none;
  color: #f29400;
  font-size: 20px; }

.link-fb {
  width: 50px; }

a:hover {
  color: #ffc15e; }

@media (min-width: 768px) {
  .nav-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

  .list-show {
    display: none; }

  .nav-small-item {
    padding: 10px 20px;
    border: 0px; }

  .link-fb {
    width: 75px;
    border-left: 2px dotted #f29400; } }
.logo-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  margin: 10px; }

.logo-lsf {
  width: 100%; }

.fb-header {
  display: block;
  width: 100%; }

.link-nav {
  width: 10%;
  text-decoration: none;
  color: #f29400; }

.up-image {
  width: 100%; }

@media (min-width: 768px) {
  .logo-div {
    width: 10%; } }
.converter-content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem; }

.converter-title {
  width: 80%;
  margin: auto;
  background-color: #f29400;
  color: #4D4D4D;
  text-align: center;
  font-weight: bold; }

.converter-form {
  text-align: center;
  background-color: #4D4D4D;
  padding-top: 15px;
  padding-bottom: 15px; }

.converter-input {
  width: 80%;
  height: 40px;
  margin-bottom: 20px;
  padding-left: 10px;
  border: none;
  background-color: #605f5f;
  color: #f29400;
  font-weight: bold; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #f29400; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #f29400;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #f29400;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f29400; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f29400; }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

.converter-button {
  height: 40px;
  width: 80%;
  border: 4px solid #f29400;
  background-color: #4D4D4D;
  color: orange;
  font-size: 1.2rem; }

.converter-button:hover {
  background-color: #f29400;
  border: none;
  color: white;
  -webkit-transition: border linear 0.5s, background-color linear 0.5s, color linear 0.5s;
  transition: border linear 0.5s, background-color linear 0.5s, color linear 0.5s; }

.converter-result {
  text-align: center;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  margin-bottom: 20px; }

.alarm {
  border: 2px solid red; }

@media (min-width: 768px) {
  .converter-content {
    width: 60%; }

  .converter-title {
    font-size: 2rem; }

  .converter-input:first-child {
    margin-top: 30px; } }
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #4D4D4D;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99; }

.opacity {
  background-color: #4D4D4D;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  -webkit-box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.25); }

@media (min-width: 768px) {
  header {
    background-color: rgba(77, 77, 77, 0.5); } }
.img_background1,
.img_background2,
.img_background3 {
  background-attachment: scroll;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  background-size: cover; }

.img_background1 {
  background-image: url(../images/gat1.jpg);
  min-height: 100%; }

.img_background2 {
  background-image: url(../images/gat2.jpg);
  min-height: 400px; }

.img_background3 {
  background-image: url(../images/gat3.jpg);
  min-height: 400px; }

.principal-section-title {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }

.text-container {
  position: relative;
  padding: 18px;
  background-color: #f9f6f3; }

.secondary-section-title {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }

.calc-container {
  background-color: #4D4D4D;
  padding: 40px; }

.title {
  display: inline-block;
  background-color: #4D4D4D;
  color: #f29400;
  padding: 10px 25px; }

.blank {
  position: relative;
  height: 0;
  bottom: 45px; }

.up-page {
  width: 50px;
  position: fixed;
  display: none;
  bottom: 20px;
  right: 10px;
  cursor: pointer;
  z-index: 98; }

@media (min-device-width: 768px) {
  .img_background1,
  .img_background2,
  .img_background3 {
    background-attachment: fixed; }

  .secondary-section-title {
    top: 40%; }

  .up-page {
    width: 65px; }

  .text-container {
    padding: 70px 120px;
    text-align: justify; } }
.footer {
  background-color: #4D4D4D;
  color: #f29400;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center; }

.fb-footer {
  width: 30px;
  vertical-align: bottom; }

/*# sourceMappingURL=index.css.map */